.cart-page {
  margin: 20px auto 0 auto;
  max-width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly
}

.cart-summary-container {
  max-width: 500px;
  min-width: 350px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  padding: 20px;
  max-height: 150px;
}

.table-container { 
  max-width: 600px;
}

.cart-total {
  font-weight: bold;
}

.checkout-button{
  margin-top: 10px;
}